/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 2px solid rgb(184, 182, 182);
    border-radius: 25px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 40px;
    padding: 10px;
    background-color: rgb(223, 212, 212);
}

body h2{
font-size: 1rem;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: RGB(1, 130, 213);
    color: white;
    padding: 10px;
    margin: 5px;
    font-size: 1.rem;
    width: 80%;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(8,auto);
    grid-template-areas: 
        "header1 header1 header1 header1"
        "header2 header2 header2 header2"
        "principal principal principal principal" 
        "section1 section1 section1 section1"
        "section2 section2 section2 section2"
        "footer1 footer1 footer1 footer1"
        "footer2 footer2 footer2 footer2"
        "footer3 footer3 footer3 footer3"
        ;
}

.box{
    border: 2px solid red;
}
.header1 {
    grid-area: header1; 
}
.header2 {
    grid-area: header2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.principal {
    grid-area: principal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section1 {
    grid-area: section1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section2 {
    grid-area: section2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer1 {
    grid-area: footer1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer2 {
    grid-area: footer2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer3{
    grid-area: footer3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*-------------logo pegado----------------*/
#pegado img {
    width: 5vw;
    height: 5vw;
    position: fixed;
    right: 50px;
}

/*-------------header1------------*/

#social-h {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 2px;
}

#social-h img {
    width: 80%;
    max-width: 2rem;
    min-width: 1rem;
}

/*--------------header2------------*/
#logo-h {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-left: 10px;
}

#logo-h img {
    width: 10vw;
}

#links-h {
    display: flex;
    background-color: RGB(1, 130, 213);
    border-radius: 5px;
    width: 70%;
    height: 4vw;
    align-items: center;
    justify-content: center;
}

#links-h a {
    text-decoration: none;
    font-style: oblique;
    margin-right: 2vw;
    color: RGB(255, 255, 255);
}

#links-h a:hover {
    background-color: red;
}

/*--------------principal--------------*/

.tarjeta-m {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
}

.tarjeta-m img,p,button{
    width: 80%;
    margin: 5px;
}




/*-------------section 1---------------*/

.promo-m {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.promo-m img {
    width: 80%;
    padding: 5px;
}




/*--------------section 2--------------*/

.info-m1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 100%;
}

.info-m1 img {
    width: 80%;
    margin: 5px;
}


.info-m1 p {
    border: 1px solid red;
    text-align: center;
    margin: 10px;
}



/*----------------footer1-----------------*/

.pie-f {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px;
}

.pie-f img{
    width: 25%;
    margin: 5px;
    text-align: center;
}
.pie-f a, h2{
    margin: 5px;
    text-align: center;
    width: auto;
}




/*-------------------------footer2---------------------*/

.foot2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#logo{
width: 30%;
}

.foot2 h2, a{
    text-align: center;
    width: auto;
}


.iconos-f{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.iconos-f img{
    width: 80%;
}

.news-f {
    width: 100%;
}

#news-f h2 {
    
    width: auto;
}


#form1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#form1 input {
    width: 100%;
}

/*---------------footer3----------- */
#pie3-f {
    font-style: italic;
    text-align: center;
}

#pie3-f h3 {
    margin-right: 50px;
}

/*---------fin---------*/