/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

<<<<<<< HEAD
body {
    border-radius: 25px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5vw;
    margin: 40px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
=======
button {
>>>>>>> 0c9f6b5a1243509344b33a3eafda432508cc7684
    border-radius: 10px;
    background-color: RGB(1, 130, 213);
    color: white;
    padding: 10px;
<<<<<<< HEAD
    margin: 5px;
    font-size: 1.5vw;
    width: 80%;
=======
    margin: 10px;
    font-size: 1.5vw;
    display: inline-block;
    margin: 0 0.5rem;
>>>>>>> 0c9f6b5a1243509344b33a3eafda432508cc7684
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

<<<<<<< HEAD
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, );
    grid-template-areas: "header1 header1 header1"
        "header2 header2 header2"
        "principal principal principal"
        "section1 section1 section1"
        "section2 section2 section2"
        "footer1 footer1 footer1"
        "footer2 footer2 footer2";
}

.container header,
footer,
section,
main {
    border: 2px solid lightsalmon;
}


.header1 {
    grid-area: header1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 6vw;
}

.header2 {
    grid-area: header2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
}

.principal {
    grid-area: principal;
}

.section1 {
    grid-area: section1;
}

.section2 {
    grid-area: section2;
}

.footer1 {
    grid-area: footer1;

}

.footer2 {
    grid-area: footer2;

}

/* logo pegado */
=======
body {
    border-radius: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5vw;
    margin: 40px;
}


/* Body */

>>>>>>> 0c9f6b5a1243509344b33a3eafda432508cc7684
#pegado img {
    width: 5vw;
    height: 5vw;
    position: fixed;
    right: 50px;
}

<<<<<<< HEAD
/* social iconos */
#social-h {
    padding: 10px;
}

#social-h img {
    width: 3vw;
}

/* logo y menu de navegacion */
#logo-h {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-left: 10px;
}

#logo-h img {
    width: 10vw;
}

#links-h {
    display: flex;
    background-color: RGB(1, 130, 213);
    border-radius: 5px;
    width: 90%;
    height: 4vw;
    align-items: center;
    justify-content: center;
}

#links-h a {
    text-decoration: none;
    font-style: oblique;
    margin-right: 5px;
    font-size: 2vw;
    color: RGB(255, 255, 255);
}

#links-h a:hover {
    background-color: red;
}

/*----------- principal -------*/

#principal-m {
    display: flex;
    justify-content: center;
}

.tarjeta-m {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 20px;
}

.tarjeta-m img,
p {
    width: 30vw;
    margin: 5px;
}

/*----------- Promociones -----------section 1---*/
#promos-m {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.promo-m {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 10px;
}

.promo-m img {
    width: 20vw;
    height: 25vw;
    padding: 5px;
}

/*-------Info-----------section 2----------*/

.info1-m {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-m {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 50vw;
}

.info-m img {
    width: 30vw;
    margin: 5px;
}

.info-m p {
    text-align: center;
    margin: 10px;
}



/*----------footer 1-----------------*/
#pie1-f {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-f {
    text-align: center;
    margin: 5px;
    width: 10%;
}

.pie-f img {
    width: 5vw;
    margin: 5px;
}

.text-f {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1px;
    width: 20%;
}

.text-f a,
h2 {
    font-size: 90%;
    margin: 1px;
    text-decoration: none;
}

/*-------------------------footer 2 ----------------------*/


#pie2-f {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vw;
}

#logo-f {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
}

#logo-f img {
    width: 8vw;
}

#social-f {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.3%;
}

#social-f img {
    width: 4vw;
    margin: 5px;
}

#social-f  h2{
font-size: 1.5vw;
}


#news-f {
    text-align: center;
    width: 33.3%;
}

#news-f h2{
    font-size: 1.5vw;
}
#news-f input {
    font-size: 1.3vw;
    width: 100%;
    height: 20px;
}

#form1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#form1 button{
    padding: 5px;
    width: 7vw;
}

/*--------------- Desarrollado por----------- */
#pie3-f {
    font-size: 1vw;
    font-style: italic;
    text-align: center;
}

#pie3-f h3 {
    margin-right: 50px;
}


/*-------------------Pagina de Conctactos-------------*/
#section1-m {
    text-align: center;
    margin: 10px;
}

#section1-m img {
    width: 80%;
}

#section2-m {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#div1-s2 {
    width: 30%;
    margin-right: 10px;
}

#div2-s2 {
    margin-left: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div2-s2 iframe {
    width: 90%;
    height: 90%;

}

#article1-m {
    text-align: center;
}

#div1-a1-m {
    margin-top: 20px;
}

#div1-a1-m p {
    text-align: justify;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

/*-------------Pagina de Nosotros-------------*/
#div1-m-nosotros {
    width: 100%;
    text-align: center;
}

#div1-m-nosotros img {
    margin: 10px;
    width: 80%;
}


#section1-m-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
}

#div2-m-nosotros {
    margin: 10px;
    width: 50%;
}

#div2-m-nosotros p {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 2rem;
}

#div3-m-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#div3-m-nosotros iframe {
    margin: 10px;
    width: 35vw;
    height: 35vw;
}

#div4-m-nosotros {
    text-align: center;
    width: 100%;
}

#div4-m-nosotros img {
    text-align: center;
    width: 80%;
    margin: 20px;
}

/*---------------lubricentro---------*/
#constructor {
    text-align: center;
    margin: 50px;
}

#enconstruccion {
    text-align: center;
    background-color: red;
    color: white;
    margin: 20px;
}